manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: ShiniNet
      url-base: https://github.com/ShiniNet/
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.4.0
      import: app/west.yml
  self:
    path: config
